# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Ruby
Gemfile.lock
vendor/bundle/

# Node.js
package-lock.json
node_modules/

# Crawler data
data/
pages/
*.txt
!requirements.txt
*.html
*.gz
*.xz
